
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>

    <form method="POST" action="/Basics/Index">
        @Html.AntiForgeryToken()
        <input type="email" name="email" />
        <input type="password" name="password" />
        <input type="password" name="passwordConfirmation" />
        <button type="submit" name="submit">SUBMIT!</button>
    </form>

</div>
