
@{
    ViewBag.Title = "Razor";
}

<h1>RazorBasics</h1>
<ul>
    @{  foreach (var Basic in ViewBag.Basics)
        {
            <li>@Basic.email @Basic.password @Basic.passwordConfirmation</li>
        }
</ul>